body {
    background-image: url('../assets/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* navbar for login page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.navbar {
    display: flex;
    width: 100%;
    background:#f0f3f7;
    /* position: relative; */
    justify-content: left;
    align-items: center;
    /* text-align: center; */
    padding: 15px 30px;
    flex: 1;
}
