.apply-background {
    background-image: url('../assets/main-background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* navbar */
@import url('https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    /* font-family:'Poppins', sans-serif; */
}

.navbar {
    display: flex;
    width: 100%;
    background:#f0f3f7;
    /* position: relative; */
    justify-content: left;
    align-items: center;
    /* text-align: center; */
    padding: 15px 30px;
}

/* nav .icon{
    font-size: 35px;
    font-weight: 800;
    cursor: pointer;
} */

nav ol{
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ol li{
    margin: 0 2px;
}

nav ol li a{
    color: #125582;
    font-size: 18px;
    text-decoration: none;
    font-weight:bold;
    text-transform: capitalize;
    padding: 5px 10px;
}

nav ol li:hover a{
    text-decoration: underline;
    color: #3584BB;
}

nav .search_box{
    display: flex;
    margin: auto 0;
    height: 40px;
    line-height: 35px;
}

nav .search_box input{
    border: none;
    outline: none;
    background: white;
    height: 100%;
    padding: 0 10px;
    font-size: 18px;
    width: 650px;
}
 nav .search_box span{
    color:#125582;
    font-size: 20px;
    background-color: white;
    height: 100%;
    padding: 8px;
    padding-right: 18px;
    position: relative;
    cursor: pointer;
    z-index: 1;
 }

 nav .search_box span:hover{
    color: #3584BB;
 }

 nav .bar{
    position: relative;
    margin: auto;
 }

 nav .bar span{
    position: absolute;
    color: #125582;
    font-size: 35px;
 }

 input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
 }
